// Файл обнуляющих стилей
@import "nullstyle.scss";
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wraper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.hi {
	background-color: #445162;
	padding: 50px;
}
.container {
	max-width: 1185px;
	margin: 0px auto;
}
.hi__row {
	display: flex;
	justify-content: space-between;
}
.hi__body {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	color: #ffffff;
}
.hi__tittle {
	font-size: 60px;
	line-height: 1.2;
	margin: 0px 0px 36px 0px;
}
.hi__list {
}
.hi__list li {
	font-size: 20px;
	line-height: 36px;
	padding: 0px 0px 0px 36px;
	background: url(../../img/icons/icon.png) no-repeat left;
}
.hi__list li:last-child {
	margin: 0;
}
.hi__image {
}
.what {
	padding: 50px 0px;
}

.what__row {
	display: flex;
}
.what__image {
	flex: 0 0 430px;
}
.what__image img {
	max-width: 100%;
}
.what__body {
	padding: 0px 0px 0px 38px;
	flex: 1 1 auto;
}
.what__title {
	margin: 0px 0px 33px 0px;
}
.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.what__text {
}
.what__text p {
	margin: 0px 0px 25px 0px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.columns {
	background-color: #f5f5f5;
	padding: 50px 0px 20px 0px;
}
.columns__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}
.columns__item {
}
.item {
}
.item__row {
	display: flex;
}
.item__image {
	flex: 0 0 200px;
}
.item__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;
}
.item__title {
	font-size: 24px;
	line-height: 30px;
	color: #445161;
}
.item__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.vertical {
	padding: 50px 0px;
}
.container {
}
.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	max-width: 990px;
	margin: 0px auto;
}
.vertial__row {
	display: flex;
	margin: 0px -22.5px;
}
.vertical__columm {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0px 22.5px;
}
.vertical__item {
	display: flex;
	flex-direction: column;
	background-color: #445162;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #445162;
	padding-bottom: 20px;
}
.vertical__subtitle {
	padding: 12px 0px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}
.vertical__lable {
	padding: 17px;
	background-color: #fff;
	font-size: 40px;
	line-height: 30px;
	color: #445162;
	text-align: center;
}
.vertical__text {
	padding: 20px 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical__text p {
	margin: 0px 0px 15px 0px;
}
.vertical__text p:last-child {
	margin: 0px;
}
.vertical__btn {
	display: block;
	text-align: center;
	margin: 0px 20px;
	line-height: 40px;
	background-color: #ffffff;
	border-radius: 5px;
}
.footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
}
.footer__text {
	color: #445162;
	letter-spacing: 0.025em;
	font-size: 12px;
}
