// Файл обнуляющих стилей
@import "nullstyle.scss";
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wraper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.hi {
	background-color: #445162;
	padding: 50px;
}
.container {
	max-width: 1185px;
	margin: 0px auto;
}
.hi__row {
	display: flex;
	justify-content: space-between;
}
.hi___body {
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.hi__tittle {
	font-size: 60px;
	line-height: 1.2;
	color: #ffffff;
	margin: 0px 0px 36px 0px;
}
.hi__list {
}
.hi__list li {
	font-size: 20px;
	line-height: 36px;
	padding: 0px 0px 0px 36px;
	background: url(../../img/icons/icon.png) no-repeat left;
}
.hi__list li:last-child {
	margin: 0;
}
.hi___image {
}
.what {
	padding: 50px 0px;
}
.container {
}
.what__row {
	display: flex;
}
.what__image {
	flex: 0 0 430px;
}
.what__image img {
	max-width: 100%;
}
.what__body {
	padding: 0px 0px 0px 38px;
	flex: 1 1 auto;
}
.what__title {
	margin: 0px 0px 33px 0px;
}
.title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
}
.what__text {
}
.what__text p {
	margin: 0px 0px 25px 0px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
}
.footer__text {
	color: #445162;
	letter-spacing: 0.025em;
	font-size: 12px;
}
